div.content1 {
  margin-bottom: 5px;
}

div.content2 {
  background-color: #464951;
  border-style: solid;
  border-width: 9px;
  border-color: #3C363F;
}

div.con1 {
  margin-top: 40px;
  margin-bottom: 5px;
  background-color: #3C363F;
}

body.blog {
  background-image: url(images/background.jpeg);
}

img.border1 {
  height: auto;
  width:  535px;
  margin-top: 5px;
}


